<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-center py-3">Experience</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8 exp-timeline">
      <ul class="list-unstyled">
        <li class="ps-5 position-relative">
          <p class="h5">Fidelity Investments</p>
          <p>
            Student - Emerging Technologies,
            <span class="fs-6 fw-light text-muted fst-italic">
              May 2023 - Dec 2023</span
            >
          </p>
          <div>
            <button type="submit" class="btn px-2 me-1 my-1">OOPS</button>
            <button type="submit" class="btn px-2 me-1 my-1">Agile</button>
            <button type="submit" class="btn px-2 me-1 my-1">DBMS</button>
          </div>
        </li>
        <li class="ps-5 position-relative">
          <p class="h5">Fidelity International</p>
          <p>
            Programmer,
            <span class="fs-6 fw-light text-muted fst-italic">
              2020 - 2022</span
            >
          </p>

          <div>
            <button type="submit" class="btn px-2 me-1 my-1">Tableau</button>
            <button type="submit" class="btn px-2 me-1 my-1">Angular</button>
            <button type="submit" class="btn px-2 me-1 my-1">NLP</button>
            <button type="submit" class="btn px-2 me-1 my-1">
              Python-Flask
            </button>
          </div>
        </li>

        <li class="ps-5 position-relative">
          <p class="h5">Fidelity International</p>
          <p>
            Summer Intern,<span class="fs-6 fw-light text-muted fst-italic">
              2019</span
            >
          </p>

          <div>
            <button type="submit" class="btn px-2 me-1 my-1">Blockchain</button>
            <button type="submit" class="btn px-2 me-1 my-1">
              Augmented Reality
            </button>
          </div>
        </li>
        <li class="ps-5 position-relative">
          <h5>Sunworks</h5>
          <p>
            Summer Intern,
            <span class="fs-6 fw-light text-muted fst-italic">2018</span>
          </p>

          <div>
            <button type="submit" class="btn px-2 me-1 my-1">NLP</button>
            <button type="submit" class="btn px-2 me-1 my-1">
              Data Preprocessing
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
