<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="display-5 fw-bold">Social.</div>
      <a href="https://www.instagram.com/arushiiiiiiii___/" target="_blank"
        ><i class="bi bi-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/in/arushi-arushi/" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="mailto:arushithakur262@gmail.com"
        ><i class="bi bi-envelope-at"></i
      ></a>
    </div>
    <div class="col-4">
      <div class="brand display-1">A.</div>
      <div class="fw-bold">Designed and Developed by Arushi</div>
    </div>
  </div>
</div>
