@import "/src/variables.scss";

.intro-text {
  margin-top: -15%;
}

.display-1 {
  font-weight: 900;
}

.brand {
  font-weight: 900;
}

.nav-link {
  color: $secondary-accent-color;
}

.btn {
  border-radius: 23px;
  background-color: $primary-accent-color;
}
