@import "/src/styles.scss";
.brand {
  font-weight: 900;
}

.nav-link {
  color: $secondary-accent-color;
}

.btn {
  border-radius: 23px;
}
.btn {
  border-radius: 23px;
  background-color: $primary-accent-color;
}
