<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <nav class="nav mt-5 pt-5 mx-5 px-5">
        <a class="nav-link fw-bold" aria-current="page" href="#">About me</a>
        <a class="nav-link fw-bold" href="#">Portfolio</a>
        <a class="nav-link fw-bold" href="#">Contact</a>
      </nav>
    </div>
    <div class="col-4 mt-5 brand display-1">A.</div>
  </div>
  <div class="row">
    <div class="col-6">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player
        src="https://assets6.lottiefiles.com/packages/lf20_X3W3p05wuf.json"
        background="transparent"
        speed="1"
        style="width: 50vw; height: 80vh"
        loop
        autoplay
      ></lottie-player>
    </div>
    <div class="col-6 mt-5 pt-5 px-5">
      <div class="display-4">Hi!</div>
      <div class="display-4 brand pb-2">I'm Arushi</div>
      <h4 class="pt-2">Graduate Student, Software Developer</h4>
      <h4>and an aspiring data analyst.</h4>
      <h4 class="pt-2">
        currently pursuing Master's in Management Sciences at the University of
        Waterloo.
      </h4>
      <!--<div class="hidden">
        <h3>Well versed with different frameworks for frontend</h3>
        <h3>and backend development along with exposure to data analytics.</h3>
        <button type="submit" class="btn fw-bold mt-5 px-3">see my work</button>
      </div>-->

      <button type="submit" class="btn fw-bold mt-5 px-3">contact me</button>
    </div>
  </div>
</div>
