<div class="container-fluid">
	<div class="row min-vh-100 triangle-bg" id="intro">
		<div class="col">
			<app-introduction></app-introduction>
		</div>
	</div>
	<div class="row min-vh-100" id="timeline">
		<div class="col">
			<app-timeline></app-timeline>
		</div>
	</div>
	<div class="row min-vh-100 inv-triangle-bg" id="contact">
		<div class="container-fluid d-flex flex-column justify-content-evenly">
			<div class="row">
				<div class="col">
					<app-contact-me></app-contact-me>
				</div>
			</div>
			<div class="row" id="footer">
				<div class="col">
					<app-footer></app-footer>
				</div>
			</div>
		</div>
	</div>
</div>
