@import "/src/styles.scss";
.btn {
	border-radius: 23px;
	background-color: $primary-accent-color;
}
.card {
	background-color: $base-color;
}
.form-input {
	background-color: $base-color;
	border-bottom: 3px solid $primary-accent-color;
	border-top: none;
	border-left: none;
	border-right: none;
}
