.btn {
  border-radius: 23px;
  background-color: #f0dbdb;
}
.card {
  background-color: #fefcf3;
}
.form-input {
  background-color: #fefcf3;
  border-bottom: 3px solid #f0dbdb;
  border-top: none;
  border-left: none;
  border-right: none;
}
