<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="display-2 fw-bold">Contact.</div>
      <h3 class="py-1">Send me a message!</h3>
      <div class="card shadow p-3 mb-5 border-0 rounded">
        <div class="card-body">
          <form
            action="https://mailthis.to/thakurarushi2@gmail.com"
            method="POST"
          >
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="name" class="form-label fw-bold">Name</label>
                  <input
                    type="text"
                    class="form-input form-control"
                    name="name"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="inputEmail" class="form-label fw-bold"
                    >Email</label
                  >
                  <input
                    type="email"
                    name="_replyto"
                    class="form-input form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="mb-3">
                <label for="message" class="form-label fw-bold">Message</label>
                <textarea
                  type="text"
                  class="form-input form-control"
                  name="message"
                  ngModel
                ></textarea>
              </div>
            </div>
            <input type="submit" value="Send" class="btn fw-bold" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
