<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-center py-3">Education</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8 edu-timeline">
      <ul class="list-unstyled">
        <li class="ps-5 position-relative">
          <p class="h5">
            University of Waterloo,
            <span class="fs-6 fw-light text-muted fst-italic"> 2022</span>
          </p>
          <p>Master In Managment Sciences</p>
          <div>
            <button type="submit" class="btn px-2 me-1 my-1">
              Data Analysis
            </button>
            <button type="submit" class="btn px-2 me-1 my-1">
              Operations Research
            </button>
            <button type="submit" class="btn px-2 me-1 my-1">
              Organizational Behavior
            </button>
          </div>
        </li>
        <li class="ps-5 position-relative">
          <p class="h5">
            The NorthCap University,<span
              class="fs-6 fw-light text-muted fst-italic"
            >
              2020</span
            >
          </p>
          <p>Computer Science Engineering: 9.15</p>
          <div>
            <button type="submit" class="btn px-2 me-1 my-1">Python</button>
            <button type="submit" class="btn px-2 me-1 my-1">DBMS</button>
            <button type="submit" class="btn px-2 me-1 my-1">OOPS</button>
          </div>
        </li>
        <li class="ps-5 position-relative">
          <p class="h5">
            St. Anthony's,<span class="fs-6 fw-light text-muted fst-italic">
              2016</span
            >
          </p>
          <p>Grade 12 (AISSCE), CBSE : 87.2%</p>
          <div>
            <button type="submit" class="btn px-2 me-1 my-1">
              Mathematics
            </button>
            <button type="submit" class="btn px-2 me-1 my-1">Economics</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
